@font-face {
  font-family: 'Avenir';
  src: url(./assets/fonts/avenir-next.ttf);
}

@font-face {
  font-family: 'Avenir Next Bold';
  src: url(./assets/fonts/avenir-next-bold.ttf);
}

a {
  text-decoration: none;
  color: #00aeef;
}

a:hover {
  text-decoration: none;
}

body {
  margin: 0;
}

div:focus {
  outline: none;
}
